{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="{% static  'js/lottie.js' %}"></script>
    <link rel="stylesheet" href="{% static 'css/linkshortener.css' %}">
    <link rel="shortcut icon" href="{% static 'image/footerLogo.svg' %}" type="image/x-icon">
    <script src="{% static 'js/fontawesome.js' %}"></script>
    <script src="{% static 'js/youtube.js' %}"></script>
    <title>دانلود از یوتوب</title>
</head>
<body>
<div class="logoBack">
    <a href="https://nobug.ir">
        <i class="fa-solid fa-backward"></i>
        <h4>
            بازگشت
        </h4>
    </a>
    <div class="logo">
        <img src="{% static 'image/logo.svg' %}" alt="">
    </div>
</div>
<div class="container">
    <div class="Title">
        <div class="linklogo">
            <i class="fa-solid fa-link"></i>
        </div>
        <h4>
            کوتاه کننده لینک
        </h4>
    </div>
    <form class="urlForm" method="post">
        {% csrf_token %}
        <h4>
            لینک مورد نظر خود را ارسال کنید
        </h4>
        <input type="text" name="adres" id="urlin" placeholder="لطفا لینک خود را وارد کنید">
        <button type="submit" id="submitbtn">
            ارسال
        </button>
    </form>
    <div class="Download" id="download">
        {% if r %}
            <a href="{% url 'sait' l %}" id="Link">{{ r }}</a>
            <button class="Copy" id="copybtn" onclick="copy()">
                <h4>
                    کپی
                </h4>
            </button>
        {% endif %}
    </div>
<script>
    function copy() {
        let linktag = document.getElementById("Link")
        navigator.clipboard.writeText(linktag.href);

        document.querySelector("#copybtn > h4").innerText = "کپی شد!"
    }
</script>
</div>
</body>
</html>